:root{
    --color-primary-dark: #011c44;
    --color-primary-light: #fff;
    --color-brand:#2b7fff;
    --color-secondary-light: #747272;
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Play", sans-serif;
}
/* Base */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: var(--color-primary-dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}
address{
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
}
h2{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
}
ul{
    list-style: none;
}
footer{
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary-light);
}
.section{
    padding: 48px 0;
}
.container{
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
}
/* Header */

.header_container{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 32px 0;
}
.header_nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.header_menu{
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
    padding-left: 0;
}
.header_address_list{
    display: flex;
    gap: 32px;
}
.navigation_link {
    color: var(--color-primary-dark);
    text-decoration: none;
    font-size: 18px;
}
.navigation_link:hover {
    color: var(--color-brand);
}
.header_icon{
    fill: var(--color-primary-dark);
}
.header_icon:hover{
    cursor: pointer;
    fill: var(--color-brand);
}
/* Hero section */

.main_section{
    padding-top: 16px;
    background-image: url('../images/hero_section_bckg.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}
.hero_section{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    max-width: 530px;
    width: 100%;
}
.brand_clinick {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
.button_with_descr{
    align-items: center;
    max-width: 238px;
    width: 100%;
}
.button_description{
    margin: 14px 18px 0 0;
    text-align: center;
    font-size: 12px;
    line-height: 150%;
}
.button{
    padding: 16px 32px;
    background-color: var(--color-brand);
    border-radius: 32px;
    border: 1px solid var(--color-brand);
    padding: 16px 32px;
    width: 219px;
    height: 53px;
    color: var(--color-primary-light);
    font-weight: 600;
    font-size: 16px;
}
.button:hover{
    background-color: transparent;
    cursor: pointer;
    color: var(--color-brand);
}
.hero_title{
    margin: 16px 0 40px 0;
    color: var(--color-brand);
    font-family: var(--third-family);
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
    
}
.accent{
    color: var(--color-brand);
}

/* about_us_section */

.about_us_title{
    padding-right: 180px;
    line-height: 1.2;
    margin-bottom: 40px;
}
.about_us_section{
    line-height: 173%;
}
.brand{
    font-weight: 600;
    text-transform: capitalize;
}
.about_us_container{
    display: flex;
    gap: 40px;
}
.about_us_descr{
    max-width: 640px;
    width: 100%;  
}
.about_us_descr p{
    margin-bottom: 40px;
}
.about_us_images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.girl_img {
    width: 327px;
    height: 327px;
    border-radius: 50%;
}
/* why_do_we_section */

.why_do_we_section{
    background-color: lightblue;
}
.why_do_we_title{
   max-width: 500px;
   margin: 0 auto 48px;
   text-align: center;
   line-height: 1.2;
}
.why_do_we_list{
    display: flex;
    justify-content: center;
    gap: 56px;
   margin: 0;
}
.why_we_cards{
    padding: 24px 32px;
    text-align: center;
    font-size: 18px;
    line-height: 133%;
    font-weight: 400;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    max-width:316px;
    width: 100%;
    color: #000;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38); ;
}
.why_we_cards p{
    margin-top: 8px;
    margin-bottom: 0;
}
.why_do_we_icon{
    fill: var(--color-brand);
}
/* our_procedurce_section */

.our_procedurce_title{
    margin-bottom: 48px;
    text-align: center;
}
.procedurce_cards{
    padding: 344px 72px 24px 112px;
    border: 1px solid var(--color-brand);
    border-radius: 24px;
}
.article_card{
    line-height: 118%;
    color: var(--color-primary-light);
}
.procedurce_list{
    display: flex;
    gap: 16px;
}
.procedurce_title{
    flex-basis: calc((100% - 32px) / 3);
}
.carousel_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    fill: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    border-radius: 50%;
    cursor: pointer;
}
.carousel_button:hover{
    background-color: var(--color-brand);
    border: 1px solid var(--color-primary-light);
    fill: var(--color-primary-light);
}
/* Contacts section */

.footer{
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer_background.png');
    
}
.contacts_title{
    margin-bottom: 48px;
    text-align: center;
}
/* Footer */
.footer_nav_link{
    text-decoration: none;
    color: var(--color-primary-light);
}
.footer_nav_link:hover{
    color: var(--color-brand);
    cursor: pointer;
}
.address_link, .politic{
    text-decoration: none;
    color: var(--color-primary-light);
}
.address_link:hover,
.politic:hover{
    cursor: pointer;
    color: var(--color-brand);
}
footer p{
    color: var(--color-secondary-light);
    font-size: 13px;
}
.address_icon{
    fill: var(--color-primary-light);
}
.address_icon:hover{
    cursor: pointer;
    fill: var(--color-brand);
}