:root {
    --color-primary-dark: #011c44;
    --color-primary-light: #fff;
    --color-brand: #2b7fff;
    --color-secondary-light: #747272;
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Play", sans-serif;
}

/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color-primary-dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h2 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
}

footer {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary-light);
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
}

/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
}

.header_container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header_menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
    padding-left: 0;
}

.header_address_list {
    display: flex;
    gap: 32px;
}

.navigation_link {
    color: var(--color-primary-dark);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navigation_link:hover {
    color: var(--color-brand);
}

.header_icon {
    fill: var(--color-primary-dark);
    transition: fill 0.3s;
}

.header_icon:hover {
    cursor: pointer;
    fill: var(--color-brand);
}

/* Hero section */

.main_section {
    padding-top: 100px;
    background-image: url('../images/hero_section_bckg.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.hero_section {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    max-width: 530px;
    width: 100%;
}

.brand_clinick {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.button_with_descr {
    align-items: center;
    max-width: 238px;
    width: 100%;
}

.button_description {
    margin: 14px 18px 0 0;
    text-align: center;
    font-size: 12px;
    line-height: 150%;
}

.button {
    padding: 16px 32px;
    background-color: var(--color-brand);
    border-radius: 32px;
    border: 1px solid var(--color-brand);
    padding: 16px 32px;
    width: 219px;
    height: 53px;
    color: var(--color-primary-light);
    font-weight: 600;
    font-size: 16px;
}

.button:hover {
    background-color: transparent;
    cursor: pointer;
    color: var(--color-brand);
}

.hero_title {
    margin: 16px 0 40px 0;
    color: var(--color-brand);
    font-family: var(--third-family);
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;

}

.accent {
    color: var(--color-brand);
}

/* About company*/

.about_us_title {
    padding-right: 180px;
    line-height: 1.2;
    margin-bottom: 40px;
}

.about_us_section {
    line-height: 173%;
}

.brand {
    font-weight: 600;
    text-transform: capitalize;
}

.about_us_container {
    display: flex;
    gap: 40px;
}

.about_us_descr {
    max-width: 640px;
    width: 100%;
}

.about_us_descr p {
    margin-bottom: 40px;
}

.about_us_images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_us_images img {
    position: relative;
    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about_us_images img:first-child {
    bottom: 40px;
}

.about_us_images img:last-child {
    left: 200px;
}

.about_us_images img::after {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(../images/Star_blue.png);
    background-repeat: no-repeat;
    content: "";
}

.about_us_images img:first-child::after {
    top: 10px;
    right: 10px;
}

.about_us_images img:last-child::after {
    top: 10px;
    right: 10px;
}

/* why_do_we_section */

.why_do_we_section {
    background-color: lightblue;
}

.why_do_we_title {
    max-width: 500px;
    margin: 0 auto 48px;
    text-align: center;
    line-height: 1.2;
}

.why_do_we_list {
    display: flex;
    justify-content: center;
    gap: 56px;
    margin: 0;
}

.why_we_cards {
    padding: 24px 32px;
    text-align: center;
    font-size: 18px;
    line-height: 133%;
    font-weight: 400;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    max-width: 316px;
    width: 100%;
    color: #000;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    ;
}

.why_we_cards p {
    margin-top: 8px;
    margin-bottom: 0;
}

.why_do_we_icon {
    fill: var(--color-brand);
}

/* our_procedurce_section */

.our_procedurce_title {
    margin-bottom: 48px;
    text-align: center;
}

.our_procedurce_container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.procedurce_cards {
    padding: 344px 72px 32px 112px;
    border: 1px solid var(--color-brand);
    border-radius: 4px 120px;
    transition: transform 0.3s;
}

.procedurce_cards:hover {
    transform: scale(1.05);
}

.article_text {
    line-height: 118%;
    color: var(--color-brand);
    text-align: center;
    margin-bottom: 0;
}

.procedurce_list {
    display: flex;
    gap: 16px;
}

.procedurce_title {
    flex-basis: calc((100% - 32px) / 3);
}

.carousel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    fill: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 0.2s;
}

.carousel_button:hover {
    background-color: var(--color-brand);
    border: 1px solid var(--color-primary-light);
    fill: var(--color-primary-light);
}

.carousel_button.next {
    transform: rotate(180deg);
}

/* Contacts section */

.contacts_title {
    margin-bottom: 48px;
    text-align: center;
}

.contacts_section {
    padding-bottom: 96px;
}

.contact_container {
    display: flex;
    gap: 32px;
}

.contact_map {
    border: none;
    border-radius: 32px;
}


/* Footer */
.footer {
    position: relative;
    padding: 56px 0;
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer_background.png');

}

.footer::after {
    position: absolute;
    width: 248px;
    height: 152px;
    bottom: 0;
    right: 0;
    background-image: url(../images/footer_decor.png);
    background-repeat: no-repeat;
    content: "";
}

.footer_container {
    display: flex;
    gap: 20px;
}

.footer_nav,
.footer_address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer_logo,
.footer_menu {
    flex-grow: 1;
}

.address_list,
.footer_menu {
    margin: 0;
}

.address_list,
.politic_defens {
    flex-grow: 1;
}

.footer_nav_link {
    text-decoration: none;
    color: var(--color-primary-light);
    transition: color 0.3s;
}

.footer_nav_link:hover {
    color: var(--color-brand);
    cursor: pointer;
}

.address_link,
.politic {
    text-decoration: none;
    color: var(--color-primary-light);
    transition: color 0.3s;
}

.address_link:hover,
.politic:hover {
    cursor: pointer;
    color: var(--color-brand);
}

footer p {
    color: var(--color-secondary-light);
    font-size: 13px;
}

.address_icon {
    fill: var(--color-primary-light);
    transition: fill 0.3s;
}

.address_icon:hover {
    cursor: pointer;
    fill: var(--color-brand);
}

.footer_address_icons {
    display: flex;
    gap: 24px;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal {
    position: relative;
    max-width: 720px;
    width: 100%;
    max-height: 680px;
    height: 100%;
    background-color: var(--color-primary-dark);
    border-radius: 48px;
}

.modal_close_btn {
    position: absolute;
    top: 42px;
    right: 42px;
}