:root {
    --color-primary-dark: #011c44;
    --color-primary-light: #fff;
    --color-brand: #2b7fff;
    --color-secondary-light: #747272;
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Play", sans-serif;
}