.contacts_title {
    margin-bottom: 48px;
    text-align: center;
}

.contacts_section {
    padding-bottom: 96px;
}

.contact_container {
    display: flex;
    gap: 32px;
}

.contact_map {
    border: none;
    border-radius: 32px;
}