.our-procedurce-section{
    &__container {
        display: flex;
        gap: 32px;
        align-items: center;
    }
    &__title {
        margin-bottom: 48px;
        text-align: center;
    }

    &__list {
        display: flex;
        gap: 16px;
        padding: 0;
    }

    &__item {
        flex-basis: calc((100% - 32px) / 3);
    }
}