.why-do-we-section {
    background-color: lightblue;

    &__title {
        max-width: 500px;
        margin: 0 auto 48px;
        text-align: center;
        line-height: 1.2;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 56px;
        margin: 0;
    }
}